<div class="row">
  <form class="col s4 offset-s4" (keydown.enter)="tryLogin(username.value, password.value)">
    <h3 class="red-text text-lighten-2">Bejelentkezés</h3>
    <div class="row">
      <div class="input-field col s12">
        <input #username type="text" placeholder="Felhasználónév">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input #password type="password" placeholder="Jelszó">
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <input type="button" value="Bejelentkezés" class="btn"
               (click)="tryLogin(username.value, password.value)">
        <p *ngIf="error" [ngClass]="error ? 'error' : ''" >{{errorMsg}}</p>
      </div>
    </div>
  </form>
</div>
