
<div style="text-align:center">
  <h1>
    Fileshare
  </h1>

  <nav>
    <div class="nav-wrapper">
      <a *ngIf="!this.authService.hasRole('GUEST')" routerLink="/user/{{this.authService.getUser().id}}" class="center">User: {{this.authService.getUser().username}} </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li *ngIf="!this.authService.hasRole('GUEST')"><a (click)="logout()" routerLink="/">Kijelentkezés</a></li>
        <li *ngIf="this.authService.hasRole('GUEST')"><a routerLink="/login">Bejelentkezés</a></li>
        <li *ngIf="this.authService.hasRole('GUEST')"><a routerLink="/register">Regisztráció</a></li>
        <li><a routerLink="/listFiles">Fájlok</a></li>
        <li><a routerLink="/users">Felhasználók</a></li>
        <li *ngIf="!this.authService.hasRole('GUEST')"><a routerLink="/report">Felhasználó jelentése</a></li>
        <li *ngIf="this.authService.hasRole('MOD') || this.authService.hasRole('ADMIN')"><a routerLink="/report/list">Jelentéslista</a></li> <!--TODO: Csak ADMIN/MOD részére-->
      </ul>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>

</div>
