<div class="row">
  <form class="col s12">
    <h3 class="red-text text-lighten-2">Felhasználókezelés</h3>
    <div class="row">
      <div class="col s12">
        Keresendő felhasználó:
        <div class="input-field inline">
          <input id="email" type="email" class="validate">
          <label for="email" data-error="wrong" data-success="right">Felhasználónév</label>
        </div>
      </div>
      <div class="col s12">
        <input type="button" value="Keresés" class="btn">
      </div>

      <div class="col s12">
      <app-user-control-item-view>

      </app-user-control-item-view>
      </div>
    </div>
  </form>
</div>
