<div *ngIf="file">
  <app-file-item-view class="red-text text-lighten-2" [file]="file">File {{ file.fullPath }}</app-file-item-view>

    <app-add-comment></app-add-comment>
    <div *ngIf="comments">
        <app-comment *ngFor="let comment of comments"
                     [comment]="comment">
        </app-comment>
    </div>
</div>
<div *ngIf="files">
  <div>
    <h2 class="red-text text-lighten-2">Location: {{ decodedPath + '/' }}</h2>
  </div>

  <app-file-list-view class="red-text text-lighten-2" [files]="files" (delFileEmit)="delFile($event)"></app-file-list-view>

</div>