<div class="row">
  <form class="col s4 offset-s4" (keydown.enter)="tryRegister(username.value, email.value, password.value)">
    <h3 class="red-text text-lighten-2">Regisztráció</h3>
    <div class="row">
      <div class="input-field col s12">
        <div tool-tip="3-16 karakter, betűvel kell kezdődnie (a-z,A-Z,0-9 karaktereket tartalmazhat)">
        <input type="text" id="username" placeholder="Felhasználónév" [ngModel]="user.username" name="username" #username="ngModel" required minlength="3" maxlength="16" pattern="[a-zA-Z][a-zA-Z0-9]*" >

          <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
            <div [hidden]="!username.errors.required">
              A felhasználónév nem lehet üres!
            </div>
            <div [hidden]="!username.errors.minlength">
              Legalább 3 karakter hosszúnak kell lennie a felhasználónévnek!
            </div>
            <div [hidden]="!username.errors.maxlength">
              A felhasználónév nem lehet hosszabb 16 karakternél!
            </div>
            <div [hidden]="!username.errors.pattern">
              A felhasználónévnek betűvel kell kezdődnie és nem lehet benne speciális karakter!
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <div tool-tip="formátuma: 'abc@pelda.com' (a-z,A-Z,0-9 karaktereket tartalmazhat)">
        <input #email type="email" placeholder="E-mail">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <div tool-tip="5-16 karakter hosszú (a-z,A-Z,0-9 karaktereket tartalmazhat)">
        <input #password type="password" placeholder="Jelszó">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <input type="button" value="Regisztráció" class="btn"
               (click)="tryRegister(username.value, email.value, password.value)">
        <p *ngIf="error" [ngClass]="error ? 'error' : ''" >{{errorMsg}}</p>
        <p *ngIf="success" [ngClass]="success ? 'success' : ''" >{{successMsg}}</p>
      </div>
    </div>
  </form>
</div>
